<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs246.sara.caretrackerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddButtonActivity"
            android:label="@string/title_add_button"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ConversationActivity"
            android:label="@string/commTitle"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".EventReportActivity"
            android:label="@string/title_event"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ModifyButtonActivity"
            android:label="@string/title_modify"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cs246.sara.caretrackerapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>
    </application>


</manifest>